body {
  background: url('/images/batcave.gif');
  background-size: cover;
  height: 100%;
  margin: 0;
}

h1 {
  color: #fff;
  margin: 0;
}

p {
  color: rgba(255, 255, 255, .6);
  font-family: Arial, sans-serif;
}

.app {
  padding: 4em;
}
